babelnet_v4/*gz
babelnet_v4/*_synsets
babelnet_v6/*gz
babelnet_v6/*_synsets
notebooks/
.DS_Store
.ipynb_checkpoints/
*pyc
*tar
*bin
*dot
*ann
*vec
*vec.gz
data/word_to_dict2vec_embeddings
intersection_graphs/
debug_output/
bert/
